body{
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 641px)and (max-width: 1007px){
    body{
        display: grid;
        grid-template-columns: 20vw 70vw 10vw;
        grid-template-rows: 30vw 60vw 10vw;
    }
    header{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    main{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
}

header{
    border: 2px solid red;
    border-radius: 5px;
    width: 100vw;
    text-align: center;
    background-image: url(./img/snow_winter_trees.jpg);
    background-size: cover;
}

.Top{
    align-items: center;
    border: 2px solid red;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 5px;
}
#Top-bilder{
    width: 100vw;
    border: 2px solid black;
    border-radius: 5px;
    height: 100%;
    width: auto;
    max-height: 20px;
}
main{
    border: 2px solid red;
    border-radius: 5px;
}
article{
    border: 2px solid red ;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
footer{
    border: 2px solid red;
    text-align: center;
}